/drn/datasets/
/drn/drn_d_22_000_test/
/drn/drn_d_22_000_test_color/
/datasets/
/jlevine272_27c09fa6/
/data/
*.zip
/drn-master/drn_d_22_000_test/leftImg8bit/test/
/drn-master/drn_d_22_000_test_color/leftImg8bit/test/
